<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Dapper" version="1.13" targetFramework="net40" />
  <package id="Dapper.Mapper" version="1.1.0" targetFramework="net40" />
  <package id="DapperExtensions" version="1.4.1" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
</packages>